@page "/account/login"
@layout AuthLayout


<div class="centerlogin">
    <MudCard Elevation="3">
        <div class="headerfont">
            <div >
                <img class="imagesetting" src="../image/login.png" />
            </div>
            <MudText Typo="Typo.h5">Timesheet</MudText>
            <MudText Typo="Typo.h5">Management</MudText>
            <MudText Typo="Typo.h5">System</MudText>
            <MudText Typo="Typo.h6">Log In</MudText>
        </div>
        <MudCardContent Style="margin-top: 10px;">
            <MudForm Model="oUser">
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField T="string" Label="Username" Required="true" RequiredError="Username is mandatory" @bind-Text="oUser.UserCode"></MudTextField>
                    <MudTextField T="string" Label="Password" Required="true" RequiredError="Password is mandatory" @bind-Text="oUser.Password" InputType="InputType.Password"></MudTextField>
                </MudItem>
            </MudForm>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="LoginUser" Disabled="flgBusy">Login</MudButton>
        </MudCardActions>

    </MudCard>
</div>

