.centerlogin {
    width: 600px;
    height: 500px;
    margin-left: 400px;
    margin-top: 200px;
    justify-content: center;
}

.headerfont {
    font-family: Roboto;
    font-display: block;
    padding: 10px;
    text-align:center;
}

.imagesetting{
    width: 150px;
    height: 150px;
    float: left;
    padding: 0px;

}
