@inherits LayoutComponentBase
<div>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
</div>
<div>
    <div class="d-flex justify-content-center">
        @Body
    </div>
</div>