@inherits LayoutComponentBase
<div>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
</div>
    <div class="middle-box">
        <div class="col-12">
            <h1>Welcome to Timesheet</h1>
            @Body
        </div>
    </div>